<div class="d-flex">
  <h1 class="mr-auto p-2">Flights</h1>
  <div class="p-2 align-self-center">
    <button class="btn btn-outline-primary float-left" (click)="openAddModal()">Add Flight</button>  
  </div>
</div>
<hr>
<div class="row">
  <div class="card-deck mb-3 text-center">
    <app-flight *ngFor="let flight of flights" [flight]="flight"></app-flight>
  </div>
</div>
