<form class="form-signin" (ngSubmit)="login(signinForm)" #signinForm="ngForm"  >
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  
  <label for="email" class="sr-only">Email address</label>
  <input type="email" id="email" name="email" class="form-control" 
    placeholder="Email address" ngModel required autofocus>
  
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password"
    class="form-control" placeholder="Password" ngModel required>
  
  <button class="btn btn-lg btn-primary btn-block" 
    type="submit" [disabled]="!signinForm.valid">Sign in</button>
</form>