<div class="d-flex">
  <h1 class="mr-auto p-2">Users</h1>
  <div class="p-2 align-self-center">
    <button class="btn btn-outline-primary float-left" (click)="openAddModal()">Add User</button>  
  </div>
</div>
<hr>
<div class="text-left">
  <app-user *ngFor="let user of filteredUser" [user]="user"></app-user>
</div>
