<!-- <ng-template #content let-c="close" let-d="dismiss"> -->
  <div class="modal-header">
      <h4 class="modal-title">{{ modalTitle }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="newDeviceForm">
        <div class="form-group row" [ngClass]="displayFieldCss('id')">
            <label for="id" class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
              <input type="text" formControlName="id"
                class="form-control" name="id" id="id" required>
              <app-field-error-display 
                [displayError]="isFieldValid('id')" 
                [errorMsgs]="getErrorMessage('id')">
              </app-field-error-display>
            </div>
          </div>
        <div class="form-group row" [ngClass]="displayFieldCss('conveyor')">
          <label for="conveyor" class="col-sm-4 col-form-label">Conveyor:</label>
          <div class="col-sm-8">
            <input type="text" formControlName="conveyor"
              class="form-control" name="conveyor" id="conveyor" required>
            <app-field-error-display 
              [displayError]="isFieldValid('conveyor')" 
              [errorMsgs]="getErrorMessage('conveyor')">
            </app-field-error-display>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark float-left" (click)="activeModal.dismiss('Cross click')">Close</button>
      <button type="button" class="btn btn-outline-success float-right" (click)="onSubmit();">Submit</button>
    </div>
  <!-- </ng-template> -->