<div class="media text-muted pt-3 user">
  <p class="media-body pb-3 mb-0 small lh-125">
    <span class="float-right">
      <a (click)="deleteUser(device.id)">
        <i fa class="fa fa-times text-danger"></i>
      </a>
    </span>
    <a (click)="openViewUpdateModal(device)">
        <strong class="d-block text-gray-dark">{{ device.id }}</strong>
    </a>
    <span><strong>Conveyor: </strong> {{ device.conveyor }}</span>
  </p>
</div>