<!-- <ng-template #content let-c="close" let-d="dismiss"> -->
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newUserForm">
      <div class="form-group row" [ngClass]="displayFieldCss('name')">
          <label for="name" class="col-sm-4 col-form-label">Name:</label>
          <div class="col-sm-8">
            <input type="text" formControlName="name"
              class="form-control" name="name" id="name" required>
              <app-field-error-display 
                [displayError]="isFieldValid('name')" 
                [errorMsgs]="getErrorMessage('name')">
              </app-field-error-display>
          </div>
        </div>
      <div class="form-group row" [ngClass]="displayFieldCss('email')">
        <label for="email" class="col-sm-4 col-form-label">Email:</label>
        <div class="col-sm-8">
          <input type="text" formControlName="email"
            class="form-control" name="email" id="email" required>
            <app-field-error-display 
              [displayError]="isFieldValid('email')" 
              [errorMsgs]="getErrorMessage('email')">
            </app-field-error-display>
        </div>
      </div>
      <div class="form-group row" [ngClass]="displayFieldCss('password')">
          <label for="password" class="col-sm-4 col-form-label">Password:</label>
          <div class="col-sm-8">
            <input type="password" formControlName="password"
              class="form-control" name="password" id="password" required>
              <app-field-error-display 
                [displayError]="isFieldValid('password')" 
                [errorMsgs]="getErrorMessage('password')">
              </app-field-error-display>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark float-left" (click)="activeModal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-outline-success float-right" (click)="onSubmit()">Submit</button>
  </div>
<!-- </ng-template> -->