<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="mr-auto p-2 my-0 font-weight-normal link" routerLink="/flights">
    RFID
  </h5>
  <ng-template [ngIf]="isUserSignedIn()">
    <h6 class="p-2 my-0 font-weight-normal link" routerLink="/flights">Flights</h6>
    <h6 class="p-2 my-0 font-weight-normal link" routerLink="/users">Users</h6>
    <h6 class="p-2 my-0 font-weight-normal link" routerLink="/devices">Devices</h6>
    <h6 class="p-2 my-0 font-weight-normal link" (click)="logout()" 
      >Logout</h6>
  </ng-template>
  
</div>

<div class="pricing-header px-3 py-3 mx-auto text-center">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>