<div class="card mb-4 box-shadow" *ngIf="flight">
  <div class="close-btn">
    <a (click)="deleteFlight(flight.number)">
      <h6 class="float-right"><i fa class="fa fa-times text-danger align-middle"></i></h6>
    </a>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">{{ flight.number }}</h1>
    <ul class="list-unstyled mt-3 mb-4 text-left">
      <li><strong>Destination:</strong> {{ flight.destination }}</li>
      <li><strong>Flight Time:</strong> {{ flight.departure }}</li>
      <li><strong>Passenger Count:</strong> {{ passengerCount }}</li>
    </ul>
    <button type="button" 
      class="btn btn-md btn-block btn-outline-primary" 
      [routerLink]="['/flights', flight.number]" >Manage</button>
  </div>
</div>