<!-- <ng-template let-c="close" let-d="dismiss"> -->
<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <form [formGroup]="newUserForm">
    <div class="form-group row" [ngClass]="displayFieldCss('firstName')">
      <label for="firstName" class="col-sm-4 col-form-label">First Name:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="firstName" class="form-control" id="firstName" required>
        <app-field-error-display 
          [displayError]="isFieldValid('firstName')" 
          [errorMsgs]="getErrorMessage('firstName')">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group row" [ngClass]="displayFieldCss('lastName')">
      <label for="lastName" class="col-sm-4 col-form-label">Last Name:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="lastName" class="form-control" id="lastName" required>
        <app-field-error-display 
          [displayError]="isFieldValid('lastName')" 
          [errorMsgs]="getErrorMessage('lastName')">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group row" [ngClass]="displayFieldCss('contactNumber')">
      <label for="contactNumber" class="col-sm-4 col-form-label">Contact #:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="contactNumber" class="form-control" id="contactNumber" required>
        <app-field-error-display 
          [displayError]="isFieldValid('contactNumber')" 
          [errorMsgs]="getErrorMessage('contactNumber')">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group row">
      <label for="baggage" class="col-12 col-sm-4 col-form-label">Baggages :</label>
      <div class="col-10 col-sm-6">
        <input type="text" class="form-control" (input)="removeLeadingZero(); emptyBaggageName = false" #baggage>
        <app-field-error-display 
          [displayError]="emptyBaggageName" 
          [errorMsgs]="['Baggage RFID must not be empty']">
        </app-field-error-display>
        <label for="baggage-desc"><small>Short description:</small></label>
        <input type="text" class="form-control" id="baggage-desc" #baggageDesc>
      </div>
      <div class="col-2 col-sm-2">
        <button type="button" class="btn btn-outline-dark float-right" 
        (click)="addBaggage(baggage, baggageDesc)">
          Add
        </button>
      </div>
    </div>
    <div formArrayName="baggages">
      <div class="row" *ngFor="let address of objectKeys(newUserForm['controls'].baggages['controls']); let i=index">
        <div class="col-8 offset-4">
          <small>
              <strong>Baggage #{{ i + 1}}:</strong> {{ address }} 
              <span *ngIf="newUserForm['controls'].baggages['controls'][address]
                && newUserForm['controls'].baggages['controls'][address]['controls']['description']">[ {{ newUserForm['controls'].baggages['controls'][address]['controls']['description'].value }} ]</span>
              <span class="float-right text-danger" (click)="removeBaggage(address)">&times;</span>
            </small>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark float-left" (click)="activeModal.close('Cross click')">Close</button>
  <button type="button" class="btn btn-outline-success float-right" (click)="onSubmit();"> {{ isAddRequest ? 'Submit' : 'Update' }} </button>
</div>