<div class="media text-muted pt-3 passenger">
  <p class="media-body pb-3 mb-0 small lh-125">
    <span class="float-right">
        <a (click)="deleteUser(passenger.id)">
          <i fa class="fa fa-times text-danger"></i>
        </a>
      </span>
    <span (click)="openViewUpdateModal(passenger.id, passenger)">
      <h5>{{ passenger.id }}</h5>
      <strong class="d-block text-gray-dark">{{ passenger.firstName }} {{ passenger.lastName }}</strong>
      <span>{{ passenger.contactNumber }}</span>
    </span>
    
  </p>
</div>