<!-- <ng-template #content let-c="close" let-d="dismiss"> -->
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newFlightForm">
      <div class="form-group row" [ngClass]="displayFieldCss('number')">
        <label for="number" class="col-sm-4 col-form-label">Flight Number:</label>
        <div class="col-sm-8">
          <input type="text" formControlName="number" 
            class="form-control" id="number" required>
          <app-field-error-display 
            [displayError]="isFieldValid('number')" 
            [errorMsgs]="getErrorMessage('number')">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row" [ngClass]="displayFieldCss('destination')">
        <label for="destination" class="col-sm-4 col-form-label">Flight Destination:</label>
        <div class="col-sm-8">
          <input type="text" formControlName="destination"
            class="form-control" id="destination" required>
          <app-field-error-display 
            [displayError]="isFieldValid('destination')" 
            [errorMsgs]="getErrorMessage('destination')">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row" [ngClass]="displayFieldCss('departure')">
        <label for="departure" class="col-sm-4 col-form-label">Flight Departure:</label>
        <div class="col-sm-8">
          <input type="text" formControlName="departure"
            class="form-control" id="departure" required>
          <app-field-error-display 
            [displayError]="isFieldValid('departure')" 
            [errorMsgs]="getErrorMessage('departure')">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row" [ngClass]="displayFieldCss('devices')">
        <label for="devices" class="col-sm-4 col-form-label">Device ID:</label>
        <div class="col-sm-8">
          <select class="form-control" *ngIf="devices | async as devices" formControlName="devices" 
            id="devices" required>
            <option value=""></option>
            <option *ngFor="let device of devices" value="{{ device.id }}">{{ device.id }}</option>
          </select>
          <app-field-error-display 
            [displayError]="isFieldValid('devices')" 
            [errorMsgs]="getErrorMessage('devices')">
          </app-field-error-display>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark float-left" (click)="activeModal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-outline-success float-right" (click)="onSubmit()">Submit</button>
  </div>
<!-- </ng-template> -->