<div class="text-left">
  <div class="d-flex">
    <a class="float-left" routerLink="/flights">Back</a>
  </div>

  <div class="p-3 my-3 text-white-50 bg-primary rounded box-shadow">
    <span class="d-flex" *ngIf="flight | async as flightDetails">
        <div class="mr-auto p-2 lh-100"  >
          <div class="">
            <h3 class="mb-0 text-white lh-100">{{ flightDetails.number }}</h3>
            <p>
              <small class="flight-details float-left">{{ flightDetails.destination }}</small>
            </p>
            <p>
              <small class="flight-details float-left">{{ flightDetails.departure }}</small>
            </p>
          </div>
        </div>
        <div class="p-2">
          <a (click)="openFlightUpdateModal(flightDetails)">
            <i fa class="fa fa-edit text-white"></i>
          </a>
        </div>
    </span>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="justify-content-end border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h6 class="p-2">Passengers</h6>
        <div class="p-2">
          <i class="fa fa-search text-muted"></i>
          <input type="text" class="search-box text-muted" 
            [ngModel]="searchText" (ngModelChange)="filterPassenger($event)">
        </div>
        <button class="p-2 btn btn-outline-primary" (click)="openAddModal()">Add Passenger</button>
      </div>
    </div>

    <app-passenger *ngFor="let passenger of filteredPassengers" 
      [passenger]="passenger" 
      [flight]="flight.value"></app-passenger>
  </div>
</div>