<div class="media text-muted pt-3 user">
  <p class="media-body pb-3 mb-0 small lh-125">
    <span class="float-right">
      <a (click)="deleteUser(user.id)">
        <i fa class="fa fa-times text-danger"></i>
      </a>
    </span>
    <a (click)="openViewUpdateModal(user)">
        <strong class="d-block text-gray-dark">{{ user.name }}</strong>
    </a>
    <span>{{ user.email }}</span>
  </p>
</div>