<div class="d-flex">
    <h1 class="mr-auto p-2">Devices</h1>
    <div class="p-2 align-self-center">
      <button class="btn btn-outline-primary float-left" (click)="openAddModal()">Add Device</button>  
    </div>
  </div>
  <hr>
  <div class="text-left">
    <app-device *ngFor="let device of filteredDevices" [device]="device"></app-device>
  </div>
  